@{
    Layout = "_Layout";
}

@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>
        Index
    </title>
    
</head>
<body>
    <div>
        @*Hello*@ @Model World!(from the view)
    </div>
</body>
</html>
